.main-body-style {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
.form-container-style {
    background-color: #99b9f2;
    border-radius: 5px;
    max-width: 100%;
    width: 800px;
    padding-left: 70px;
}
    .form-container-style .main-form-style {
        padding: 10px 30px 10px 30px;
    }
.main-form-style .photo-container {
    display: flex;
    align-items: center;
}
.main-form-style .photo-border {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid green;
    padding: 0px 0px 50px 0px;
}
    .main-form-style .photo-border #photo {
        height: 48px;
        width: 86px;
    }
.main-form-style .form-element-style label {
    display: inline-block;
    width: 120px;
    text-align: Left;
    margin-right: 10px;
}
.main-form-style .form-element-style input, select {
    display: inline-block;
    width: 500px;
    box-sizing: border-box;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}
.main-form-style .horizontal-line-style {
    display: inline-block;
    width: 650px;
}
.main-form-style .form-button-style input {
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
}